<header
  x-data="{ fix_navbar : false }"
  class="fixed w-full max-w-1900 z-10 bg-primary flex justify-between px-32 py-12 duration-500"
  :class="{'py-5': fix_navbar}"
  @scroll.window="fix_navbar = (window.pageYOffset > 40) ? true : false"
>
  <a href="/" class="text-4xl font-bold font-Changa bg-gradient-to-r from-orange-600 to-red-300 bg-clip-text text-transparent">Monitoringly</a>
  <span class="py-2 font-semibold">
    <a href="{% url 'website:pricing' %}" class="mr-6 bg-primary rounded-md px-6 py-2 duration-300 hover:text-secondary hover:text-hover">Pricing</a>
    <a href="" class="mr-6 bg-primary rounded-md px-6 py-2 duration-300 hover:text-secondary hover:text-hover">Services</a>
    <a href="{% url 'website:login' %}" class="mr-6 bg-primary rounded-md px-6 py-2 duration-300 hover:text-secondary hover:text-hover">Login</a>
    <a href="{% url 'website:register' %}" class="bg-secondary text-button rounded-full px-6 py-2 hover:bg-hover">Register for FREE</a>
  </span>
</header>
