<div class="page_header">
  <h1 class="page_title">
    <span><i class="fas {{ icon }}"></i></span>
    <span>{{ title | titlecase }}</span>
  </h1>
  <div>
    <a href="" class="button">upgrade</a>
    <div class="relative main_popup_activator">
      <span
        class="hoverable relative"
        (click)="show_hide_element('header_notification_popup')"
      >
        <i class="fas fa-bell fa-lg text-gray-700"></i>
        <span class="notification_ring"></span>
      </span>
      <div
        *ngIf="shown_popups['header_notification_popup']"
        @slideTopShort
        class="z-20 absolute top-12 right-0 h-72 bg-white rounded-sm shadow-md flex flex-col text-sm overflow-y-auto"
      >
        <div
          class="relative w-72 flex gap-4 items-center border-b border-gray-200 px-4 py-6"
        >
          <img
            class="rounded-full"
            src="https://letsenhance.io/static/334225cab5be263aad8e3894809594ce/75c5a/MainAfter.jpg"
            alt=""
            width="100"
            height="100"
          />
          <div class="flex flex-col w-full gap-1">
            <h1 class="font-bold">Hello musk96</h1>
            <p class="font-normal">Welcome to monitoringly</p>
            <h2 class="text-xs text-gray-700">1 day ago</h2>
          </div>
          <span>
            <i
              class="fas fa-times fa-lg absolute right-3 top-4 hover:text-gray-400 active:text-gray-500 cursor-pointer"
            >
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="relative main_popup_activator">
      <span
        class="hoverable"
        (click)="show_hide_element('header_profile_popup')"
      >
        <span class="username">musk96</span>
        &nbsp;<span><i class="fas fa-chevron-down"></i></span>
      </span>
      <div
        *ngIf="shown_popups['header_profile_popup']"
        @slideTopShort
        class="z-20 absolute top-12 right-0 w-60 bg-white rounded-sm shadow-md flex flex-col"
      >
        <div class="pl-6 pr-6 flex items-center gap-4 justify-between border-b">
          <div class="flex flex-col gap-2 py-4">
            <span>musk96</span>
            <span class="text-gray-500">musk96@hotmail.fr</span>
          </div>
          <i class="fas fa-cog text-gray-600 hoverable"></i>
        </div>
        <div class="flex justify-center gap-4 px-4 py-4">
          <span class="text-gray-700 text-sm"> Current plan: </span>
          <span class="bg-green-900 text-gray-100 px-2 rounded-sm pb-1 text-sm">
            Free
          </span>
        </div>
        <div class="px-6 pb-2">
          <div class="flex justify-between items-center mb-1 text-gray-500">
            <span>Monitors</span>
            <span>5/5</span>
          </div>
          <div
            class="relative w-full h-2 bg-green-200 border border-green-400 rounded-full"
          >
            <div
              class="absolute top-0 left-0 h-5/6 w-full bg-gradient-to-r from-green-400 to-green-600 rounded-full"
            ></div>
          </div>
        </div>
        <div class="flex flex-col pt-1 text-gray-600">
          <a
            routerLink=""
            class="py-3 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
            >Plans</a
          >
          <a
            routerLink=""
            class="py-3 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
            >Pages marketplace</a
          >
          <a
            routerLink=""
            class="py-3 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
            >Documentation</a
          >
        </div>
        <a
          routerLink=""
          class="px-6 py-3 border-t text-gray-600 hover:bg-gray-200 active:bg-gray-300"
        >
          Log out
        </a>
      </div>
    </div>
  </div>
</div>
