<div class="page_header text-light-primary dark:text-dark-primary">
  <h1 class="page_title">
    <span><i class="fas {{ icon }} fa-xs"></i></span>
    <span>{{ title_ | titlecase }}</span>
  </h1>
  <div *ngIf="user_details">
    <a *ngIf="user_details.sub == 'Free'" routerLink="/plans" class="button">
      Upgrade
    </a>
    <div class="relative main_popup_activator">
      <span
        class="relative cursor-pointer"
        (click)="show_hide_element('header_notification_popup')"
      >
        <i
          class="fas fa-bell fa-lg text-light-secondary dark:text-dark-secondary"
        ></i>
        <span [ngClass]="{ notification_ring: !all_notifications_seen }"></span>
      </span>
      <!-- notification popup -->
      <div
        *ngIf="shown_popups['header_notification_popup']"
        @slideTopShort
        class="notification_container border-primary dark:border-secondary"
      >
        <div *ngIf="notifications.length > 0" class="notification_list">
          <div
            *ngFor="let notification of notifications"
            class="border-primary dark:border-secondary"
          >
            <img
              src="{{ notification.image }}"
              alt=""
              width="100"
              height="100"
            />
            <div>
              <h1>{{ notification.title }}</h1>
              <p class="text-light-secondary dark:text-dark-secondary">
                {{ notification.text }}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="notifications.length > 0">
          <button class="hover:underline" (click)="delete_all_notifications()">
            Clear all
          </button>
        </div>
        <p
          *ngIf="notifications.length <= 0"
          class="inline-block text-center p-2 mx-auto w-52 text-light-secondary dark:text-dark-secondary"
        >
          You have no notification
        </p>
      </div>
    </div>

    <div class="relative main_popup_activator">
      <span
        class="cursor-pointer flex items-center gap-2"
        (click)="show_hide_element('header_profile_popup')"
      >
        <span
          class="username w-20 overflow-hidden text-ellipsis"
          *ngIf="user_details"
        >
          {{ user_details.username }}
        </span>
        <span
          ><i
            [ngClass]="{
              'fa-chevron-down': !shown_popups['header_profile_popup'],
              'fa-chevron-up': shown_popups['header_profile_popup']
            }"
            class="fas fa-chevron-down"
          ></i
        ></span>
      </span>
      <!-- profile popup -->
      <div
        *ngIf="shown_popups['header_profile_popup']"
        @slideTopShort
        class="profile_popup border-primary dark:border-secondary"
      >
        <div class="border-primary dark:border-secondary">
          <div class="flex flex-col gap-2 py-4">
            <span class="font-medium">{{ user_details.username }}</span>
            <span
              class="max-w-[150px] text-light-secondary dark:text-dark-secondary overflow-hidden text-ellipsis"
            >
              {{ user_details.email }}
            </span>
          </div>
          <a routerLink="/profile"
            ><i
              class="fas fa-cog text-light-secondary dark:text-dark-secondary"
            ></i
          ></a>
        </div>
        <div>
          <span class="text-light-primary dark:text-dark-primary text-sm">
            Plan:
          </span>
          <span
            style="background: {{
              plans_colors[user_details.sub.toLowerCase()]
            }}"
            class="text-white px-2 py-1 rounded-md text-sm"
          >
            {{ user_details.sub | titlecase }}
          </span>
        </div>
        <div class="text-light-primary dark:text-dark-primary">
          <div>
            <span>Monitors</span>
            <span>
              {{ user_details.monitors }}/{{ user_details.max_monitors }}
            </span>
          </div>
          <!-- progress bar -->
          <div class="progress_bar">
            <div [ngStyle]="{ 'width.%': user_details.usage }"></div>
          </div>
        </div>
        <div class="text-light-primary dark:text-dark-primary">
          <a routerLink="">Contact us</a>
        </div>
        <div class="flex items-center gap-4 justify-center mb-4">
          <span class="text-light-secondary dark:text-dark-secondary">
            <i class="fas fa-sun"> </i
          ></span>
          <div
            (click)="enable_dark()"
            class="w-12 h-6 bg-light-primary-dark dark:bg-dark-secondary rounded-full relative xl:cursor-pointer"
          >
            <div
              [ngClass]="{
                'right-0': dark_mode,
                'left-0': !dark_mode
              }"
              class="h-full w-6 bg-secondary rounded-full absolute top-0"
            ></div>
          </div>
          <span class="text-light-secondary dark:text-dark-secondary">
            <i class="fas fa-moon"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
