<div class="bg-gray-200 h-full shadow-xl rounded-3xl px-10 py-8 z-10">
  <router-outlet></router-outlet>
</div>
<!-- creation windows -->
<div class="creation_window" *ngIf="show_creation" @fadeInOut>
  <div>
    <div class="bg-gray-200 pb-1 text-right rounded-t-lg">
      <span
        (click)="hide_creation_window()"
        class="text-2xl px-4 pb-1 text-gray-700 hover:bg-red-500 hover:text-white cursor-pointer rounded-lg hover:rounded-none duration-300"
        >×</span
      >
    </div>
    <div class="creation_mode" *ngIf="creation_modes['monitor_creation']">
      <form
        id="monitor_creation_form"
        #f="ngForm"
        (ngSubmit)="submit_monitor(f)"
      >
        <h1 class="font-semibold text-lg text-gray-800 text-center">
          Create Monitor
        </h1>
        <div class="property_box">
          <label for="">Name</label>
          <input type="text" placeholder="My Website" ngModel name="name" />
        </div>
        <div class="property_box">
          <label for="">Type</label>
          <select name="type" ngModl>
            <option value="">Http</option>
          </select>
        </div>
        <div class="property_box">
          <label for="">Page</label>
          <select name="page" ngModel>
            <option value="">Default light</option>
            <option value="">Default black</option>
          </select>
        </div>
        <div class="property_box">
          <label for="">Link</label>
          <input
            type="text"
            placeholder="https://mywebsite.com"
            name="link"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="property_box">
            <label for="">Check interval</label>
            <input type="number" placeholder="60" name="interval" ngModel />
          </div>
          <div class="property_box">
            <label for="">Success Status</label>
            <input
              type="number"
              placeholder="200"
              name="success_status"
              ngModel
            />
          </div>
          <div class="property_box">
            <label for="">Timeout</label>
            <input type="number" placeholder="30" name="timeout" ngModel />
          </div>
        </div>
        <button
          type="submit"
          class="bg-green-500 py-2 mt-4 text-gray-100 font-semibold rounded-md hover:bg-green-600 duration-300"
        >
          Create
        </button>
      </form>
    </div>
  </div>
</div>
