@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: #fff7f7;
    background-image: linear-gradient(225deg, #fff7f7 0%, #fceddb 46%, #ffffff 100%);
  }

  #landing_2,
  #pricing {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  }
  #image_slider {
    background-color: #e5e3d1;
    background-image: linear-gradient(177deg, #e5e3d1 0%, #e7e4b6 100%);
  }

  #navbar {
    @apply max-w-1400 items-center mx-auto hidden xl:flex justify-between py-8;
  }
  #logo,
  #logo:hover,
  #logo:visited {
    @apply text-secondary text-xl font-medium flex items-center gap-2;
  }

  #navbar > div {
    @apply flex items-center;
  }
  #navbar > div:first-child {
    @apply gap-14;
  }
  #navbar > div:last-child {
    @apply gap-12;
  }

  #navbar a:not(#logo) {
    @apply text-gray-500 hover:text-gray-900;
  }

  .main,
  .main:visited {
    @apply bg-secondary !text-gray-100 py-2 px-6 rounded-full font-medium hover:opacity-80 shadow-md;
  }

  .payment_input {
    @apply border-b border-gray-300  py-3 text-lg;
  }
  .pricing_container {
    @apply w-full grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-16 mx-auto  mt-2;
  }
  .pricing_container > div {
    @apply relative grid text-center gap-6 bg-gray-100 text-gray-900 px-16 py-12 rounded-lg shadow-md;
  }

  .pricing_container > div h2 {
    @apply text-xl font-medium shadow-md w-content mx-auto px-4 py-1 rounded-md h-content;
  }

  .pricing_container > div h3 {
    @apply grid text-5xl;
  }

  .pricing_container > div h3 .per_month {
    @apply text-lg text-gray-500;
  }

  .pricing_container > div a {
    @apply border py-3 bg-secondary text-white font-medium shadow-md hover:shadow-lg rounded-lg h-content px-8;
  }

  .pricing_container ul > li:not(ul > li:first-child) {
    @apply mt-4;
  }

  form {
    @apply bg-white w-full mx-auto flex flex-col gap-12 py-12 border shadow-md text-center rounded-xl px-12;
  }

  form.main_form input,
  form.main_form textarea {
    @apply w-full py-4 text-gray-900 px-6 rounded-full border-gray-300 focus:outline-none focus:ring-transparent focus:border-secondary;
  }
  form.main_form button {
    @apply bg-secondary text-button rounded-md px-6 py-3 text-lg hover:bg-hover;
  }
}
