@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes shine_up {
  0% {
    box-shadow: 0 0 0px 0px rgba(34, 197, 94, 0.5);
  }
  50% {
    box-shadow: 0 0 2px 7px rgba(34, 197, 94, 0.3);
  }
  100% {
    box-shadow: 0 0 2px 7px rgba(34, 197, 94, 0);
  }
}

@keyframes shine_down {
  from {
    box-shadow: 0 0 5px 4px rgba(234, 88, 12, 0.5);
  }
  to {
    box-shadow: 0 0 10px 5px rgba(234, 88, 12, 0.5);
  }
}
.status_dot_up {
  animation: shine_up 2.5s infinite ease-in-out;
}
.status_dot_down {
  animation: shine_down 2.5s infinite ease-in-out;
}
