<div id="main_content">
  <app-header title_="profile" icon="fa-user"></app-header>
  <div *ngIf="user_details" class="no_overflow overflow-auto relative">
    <span
      class="absolute right-2 top-10 text-red-500 font-medium hover:underline xl:cursor-pointer text-sm"
    >
      <i class="fas fa-trash"></i>
      Delete my account
    </span>
    <div class="grid gap-3 mt-5 px-6">
      <div class="profile-grid">
        <div>Subscription:</div>
        <div style="background: transparent; padding-left: 0; border: none">
          <div
            style="background: {{
              plans_colors[user_details.sub.toLowerCase()]
            }}"
            class="text-gray-100 px-3 pb-1 rounded-md w-content font-semibold"
          >
            {{ user_details.sub | titlecase }}
          </div>
        </div>
      </div>
      <div class="profile-grid">
        <div>Monitors:</div>
        <div
          style="
            background: transparent;
            padding-left: 0;
            padding-right: 0;
            border: none;
          "
        >
          <div
            class="relative bg-secondary bg-opacity-20 h-full w-1/4 shadow-sm border border-gray-300 py-4 rounded-md"
          >
            <div
              class="bg-secondary absolute top-0 left-0 h-full"
              [ngStyle]="{ 'width.%': user_details.usage }"
              [ngClass]="{
                'rounded-l-md': user_details.usage < 100,
                'rounded-md': user_details.usage == 100
              }"
            ></div>
            <span
              [ngClass]="{
                'text-gray-200': user_details.usage > 55,
                'text-gray-900': user_details.usage < 55
              }"
              class="absolute left-0 right-0 mx-auto w-content text-xs top-1/2 -translate-y-1/2 font-semibold"
            >
              {{ user_details.monitors }} / {{ user_details.max_monitors }}
            </span>
          </div>
        </div>
      </div>
      <div class="profile-grid">
        <div>Username:</div>
        <div>{{ user_details.username }}</div>
      </div>
      <div class="profile-grid">
        <div>Email:</div>
        <div>{{ user_details.email }}</div>
      </div>
      <div class="profile-grid">
        <div>API Key:</div>
        <div class="flex justify-between">
          <span>{{ user_details.api_key }}</span>
          <span
            class="flex gap-2 text-blue-600 items-center xl:cursor-pointer hover:underline font-medium text-sm"
          >
            <i class="fas fa-copy"></i>
            Copy
          </span>
        </div>
      </div>
      <div class="profile-grid">
        <div>Credit card:</div>
        <div
          *ngIf="user_details.payment_card"
          class="flex justify-between items-center"
        >
          <span>
            <i class="fas fa-money-check-alt fa-xl text-blue-800 mr-2"></i>
            {{ user_details.payment_card }}
          </span>
          <span class="flex gap-12 items-center">
            <span
              class="flex gap-2 items-center text-red-500 xl:cursor-pointer hover:underline font-medium text-sm"
            >
              <i class="fas fa-trash"></i>
              Delete
            </span>
          </span>
        </div>
        <div
          *ngIf="!user_details.payment_card"
          class="flex justify-between items-center"
        >
          <span class="text-gray-500 font-medium"> No credit card </span>
          <span class="flex gap-12 items-center">
            <span
              class="flex gap-2 items-center text-green-600 xl:cursor-pointer hover:underline font-medium text-sm"
            >
              <i class="fas fa-plus"></i>
              Add
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
