<div id="main_content">
  <app-header title_="profile" icon="fa-user"></app-header>
  <div>
    <div class="flex gap-4 h-full">
      <div
        class="w-80 h-content flex flex-col gap-6 p-6 bg-white rounded-2xl border border-gray-300"
      >
        <div class="flex justify-between items-center gap-4 font-semibold">
          <span>{{ user_details.email }}</span>
          <span class="bg-green-900 text-gray-100 px-2 rounded-sm pb-1 text-sm">
            {{ user_details.sub }}
          </span>
        </div>
        <div>
          <div class="flex justify-between items-center">
            <span>Monitors</span>
            <span class="text-sm">{{ user_details.monitors }}/5</span>
          </div>
          <div class="progress_bar">
            <div [ngStyle]="{ 'width.%': user_details.usage }"></div>
          </div>
        </div>
      </div>
      <div
        class="rounded-xl bg-white w-full h-full px-10 py-6 overflow-auto border border-gray-300"
      >
        <div class="relative border-b border-gray-300 py-2">
          <span
            class="absolute font-semibold w-content bg-white px-6 left-0 right-0 top-0 mx-auto"
          >
            General
          </span>
        </div>
        <div class="grid grid-cols-3 gap-3 py-8">
          <!-- <div class="information_section">
            <div>
              <span>Timezone</span>
              <div class="hoverable flex items-center gap-2">
                <i class="fas fa-edit fa-sm text-green-500"></i>
                <span class="text-sm">Edit</span>
              </div>
            </div>
            <span>GMT</span>
          </div> -->

          <div class="information_section">
            <div>
              <span>API Key</span>
              <div class="hoverable flex items-center gap-2">
                <i class="fas fa-copy fa-sm text-green-500"></i>
                <span class="text-sm">Copy</span>
              </div>
            </div>
            <div class="overflow-auto">
              <div>{{ user_details.api_key }}</div>
            </div>
          </div>
          <div class="information_section">
            <div class="flex justify-between items-center">
              <span>Payment cards</span>
              <div class="hoverable flex items-center gap-2">
                <i class="fas fa-plus fa-sm text-green-500"></i>
                <span class="text-sm">Add</span>
                <!-- <i class="fas fa-minus fa-sm text-red-500"></i>
                <span class="text-sm">Delete</span> -->
              </div>
            </div>
            <div class="overflow-auto">
              <div
                style="max-height: 70px"
                class="flex justify-between items-center pr-4 overflow-auto"
              >
                <!-- <span class="text-gray-600 text-sm">No card added.</span> -->
                <span>5678</span>
                <i class="fab fa-xl fa-cc-visa text-blue-800"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
