<div id="main_content">
  <app-header title_="profile" icon="fa-user"></app-header>
  <div
    *ngIf="user_details"
    class="mt-12 !overflow-auto relative px-8 py-2 text-light-primary dark:text-dark-primary"
  >
    <div class="grid gap-8">
      <div class="profile-grid">
        <div>Subscription:</div>
        <div class="!shadow-none !bg-transparent !pl-0">
          <div
            style="background: {{
              plans_colors[user_details.sub.toLowerCase()]
            }}"
            class="text-gray-100 px-3 py-1 rounded-md w-content font-semibold"
          >
            {{ user_details.sub | titlecase }}
          </div>
        </div>
      </div>
      <div class="profile-grid">
        <div>Monitors:</div>
        <div class="!shadow-none !bg-transparent !pl-0">
          <div
            class="relative bg-secondary bg-opacity-40 dark:bg-opacity-20 h-[40px] w-[200px] py-4 rounded-md"
          >
            <div
              class="bg-secondary absolute top-0 left-0 h-full"
              [ngStyle]="{ 'width.%': user_details.usage }"
              [ngClass]="{
                'rounded-l-md': user_details.usage < 100,
                'rounded-md': user_details.usage == 100
              }"
            ></div>
            <span
              class="text-gray-100 absolute left-0 right-0 mx-auto w-content text-xs top-1/2 -translate-y-1/2"
            >
              {{ user_details.monitors }} / {{ user_details.max_monitors }}
            </span>
          </div>
        </div>
      </div>
      <div class="profile-grid">
        <div>Username:</div>
        <div class="bg-light-primary dark:bg-dark-primary">
          {{ user_details.username }}
        </div>
      </div>
      <div class="profile-grid">
        <div>Email:</div>
        <div class="bg-light-primary dark:bg-dark-primary">
          {{ user_details.email }}
        </div>
      </div>
      <div class="profile-grid">
        <div>API Key:</div>
        <div class="flex justify-between bg-light-primary dark:bg-dark-primary">
          <span>{{ user_details.api_key }}</span>
          <span
            class="flex gap-2 text-secondary items-center xl:cursor-pointer hover:underline font-medium text-sm"
          >
            <i class="fas fa-copy"></i>
            Copy
          </span>
        </div>
      </div>
    </div>
    <span
      class="button !bg-red-500 absolute right-8 top-4 text-red-500 font-medium text-sm xl:cursor-pointer flex items-center gap-2 !py-3"
    >
      <i class="fas fa-trash"></i>
      Delete my account
    </span>
  </div>
</div>
