<footer class="border-t border-neutral-200 px-4 py-12">
  <div
    class="max-w-1000 mx-auto flex justify-between items-center flex-col sm:flex-row gap-8"
  >
    <a [href]="page_link" class="flex items-center gap-4" target="_blank">
      <img width="50" [src]="page_icon" alt="" />
      <span class="text-lg font-bold capitalize">{{ page_name }}</span>
    </a>
    <span class="font-medium text-sm">
      Powered by
      <a href="https://statuschecks.net/" class="underline">StatusChecks</a>
    </span>
  </div>
</footer>
