<footer class="border-t border-neutral-200 px-4 py-12">
  <div
    class="max-w-1000 mx-auto flex justify-between items-center flex-col sm:flex-row gap-8"
  >
    <a href="" class="flex items-center gap-4">
      <img
        width="50"
        src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png"
        alt=""
      />
      <span class="text-lg font-bold">Mkadine Status</span>
    </a>
    <span class="font-medium text-sm">
      Powered by <a href="" class="underline">StatusCheck</a>
    </span>
  </div>
</footer>
