<nav>
  <div>
    <a
      (mouseenter)="animate_logo = true"
      (mouseleave)="animate_logo = false"
      href="/"
      id="logo"
    >
      <span
        [ngClass]="{ 'h-4': animate_logo, 'h-3': !animate_logo }"
        class="left-[7px] bottom-[10px]"
      ></span>
      <span
        [ngClass]="{ 'h-5': animate_logo, 'h-4': !animate_logo }"
        class="left-0 right-0 bottom-[10px] mx-auto"
      ></span>
      <span
        [ngClass]="{ 'h-4': animate_logo, 'h-5': !animate_logo }"
        class="right-[7px] bottom-[10px]"
      ></span>
    </a>
  </div>
  <div class="flex flex-col gap-12">
    <a
     
      *ngFor="let link of navbar_links"
      routerLink="{{ link.link }}"
      class="website_link"
    >
      <i class="{{ link.icon }} fa-xl"></i>
      <div routerLinkActive="h-1/2"></div>
    </a>
  </div>
  <a href="" class="website_link"
    ><i class="fas fa-sign-out-alt fa-xl"></i
  ></a>
</nav>
