<div class="max-w-1400 mx-auto pb-16 px-6 lg:px-0">
  <h2 class="font-lexend text-4xl mb-12 font-medium text-center">Contact us</h2>
  <form x-data="{isLoading: false}" onsubmit="contactForm(event, this)" class="gap-4 w-full lg:w-[600px] mx-auto main_form !px-0 !py-0 !border-none !bg-transparent !shadow-none">
    <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken" />
    <input required type="text" name="name" placeholder="Your name" class="!rounded-md" />
    <input required type="email" name="email" id="" placeholder="Email" class="!rounded-md" />
    <textarea required name="text" cols="30" rows="10" placeholder="Tell us what you need" class="!rounded-md"></textarea>
    <button class="!text-md">
      <i x-show="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
      <span x-show="!isLoading">Submit</span>
    </button>
    <span @click="isLoading=true" class="hidden loading"></span>
    <span @click="isLoading=false" class="hidden loaded"></span>
  </form>
</div>
