<div class="max-w-1400 mx-auto pb-16 px-6 lg:px-0">
  <h2 class="font-lexend text-4xl mb-12 font-medium text-center">Contact us</h2>
  <form action="" class="gap-4 w-full lg:w-[600px] mx-auto main_form px-0 py-0 border-none bg-none shadow-none">
    <input type="text" placeholder="Your name" class="!rounded-md" />
    <input type="email" name="" id="" placeholder="Email" class="!rounded-md" />
    <textarea name="" id="" cols="30" rows="10" placeholder="Tell us what you need" class="!rounded-md"></textarea>
    <button class="!text-md">Submit</button>
  </form>
</div>
