<div id="faq" class="max-w-1400 mx-auto grid gap-16 py-32 px-6 lg:px-16 2xl:px-0">
  <section>
    <h2 class="text-4xl font-lexend">Frequently asked questions</h2>
    <p class="text-gray-900 lg:w-1/2 mt-6">Got Questions? We've Got Answers! Your FAQ Guide</p>
  </section>
  <section
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12"
    x-data="{questions: [
        {
            'Q': 'How do I create a monitor?',
            'R': 'After you login to your account at Statuscheks.net, click on the “Create” button. Add informations about your monitor and then click on create.'
        },
        {
            'Q': 'Does Statuschecks auto start the monitor whenever it is down?',
            'R': 'The monitor is still active when it’s down and checking if the service is back up.'
        },
        {
          'Q': 'Where are the monitoring locations ?',
          'R': 'All our servers are based in US north virginia region.'
        },
        {
            'Q': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
            'R': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ipsum id eros blandit mollis. Curabitur dolor turpis, gravida sit amet ullamcorper sit amet, maximus sit amet sapien.'
        },
        {
            'Q': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
            'R': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ipsum id eros blandit mollis. Curabitur dolor turpis, gravida sit amet ullamcorper sit amet, maximus sit amet sapien.'
        },
        {
            'Q': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
            'R': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ipsum id eros blandit mollis. Curabitur dolor turpis, gravida sit amet ullamcorper sit amet, maximus sit amet sapien.'
        }
    ]}"
  >
    <template x-for="question in questions">
      <div>
        <h3 x-text="question.Q" class="text-lg font-lexend font-medium mb-4"></h3>
        <p x-text="question.R" class="text-gray-900"></p>
      </div>
    </template>
  </section>
</div>
