<footer class="border-t border-gray-800 py-12 px-32 text-paragraph text-md">
  <div class="max-w-1400 mx-auto">
    <div class="flex justify-between pb-12">
      <div>
        <a href="/" class="text-4xl font-bold bg-gradient-to-r from-orange-600 to-red-300 bg-clip-text text-transparent"
          >Statuscheks<span style="font-size: 14px">.net</span></a
        >
        <p class="mt-6 text-gray-400 font-semibold">A monitoring service</p>
        <div class="flex gap-6 mt-8">
          <a href="" class="bg-secondary w-8 h-8 text-center rounded-full relative hover:bg-hover"
            ><i class="fa fa-facebook fa-sm absolute left-0 right-0 mx-auto top-1/2 -translate-y-1/2"></i
          ></a>
          <a href="" class="bg-secondary w-8 h-8 text-center rounded-full relative hover:bg-hover"
            ><i class="fa fa-twitter fa-sm absolute left-0 right-0 mx-auto top-1/2 -translate-y-1/2"></i
          ></a>
          <a href="" class="bg-secondary w-8 h-8 text-center rounded-full relative hover:bg-hover"
            ><i class="fa fa-linkedin fa-sm absolute left-0 right-0 mx-auto top-1/2 -translate-y-1/2"></i
          ></a>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold">Services</h2>
        <div class="text-gray-300 flex flex-col gap-4 mt-8">
          <a href="" class="hover:underline">Website monitoring</a>
          <a href="" class="hover:underline">Port monitoring</a>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold">Company</h2>
        <div class="text-gray-300 flex flex-col gap-4 mt-8">
          <a href="" class="hover:underline">Pricing</a>
          <a href="" class="hover:underline">Blog</a>
          <a href="" class="hover:underline">Terms / Privacy</a>
          <a href="" class="hover:underline">Contact us</a>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold">Resources</h2>
        <div class="text-gray-300 flex flex-col gap-4 mt-8">
          <a href="" class="hover:underline">API</a>
          <a href="" class="hover:underline">Integrations</a>
          <a href="" class="hover:underline">FAQ</a>
        </div>
      </div>
    </div>
    <div class="text-center text-gray-400 border-t border-gray-800 mx-auto py-8"><span class="text-sm">©</span> 2022 - All rights reserved</div>
  </div>
</footer>
