{% extends 'offline/root.html' %} {% load static %} {% block content %}
<div id="hero" style="min-height: calc(100vh - 104px)" class="px-6 lg:px-0 grid xl:place-content-center xl:-translate-y-8">
  <div class="2xl:w-7/12 mx-auto text-center grid gap-8 py-16 xl:py-0">
    <h1 class="text-5xl xl:text-7xl font-lexend font-medium leading-[60px] xl:leading-[85px]">
      Monitoring <span class="text-secondary">made simple</span> for small businesses.
    </h1>
    <p class="w-10/12 mx-auto leading-8 text-lg">
      Statuscheks is a monitoring service. You can create one or multiple monitors and get notified when something goes wrong.
    </p>
    <div class="flex flex-col xl:flex-row gap-6 items-center mx-auto w-content">
      <a href="{% url 'website:register' %}" class="!bg-gray-900 main whitespace-nowrap">Get 1 month free</a>
      <a href="" class="bg-white shadow-md px-4 py-2 rounded-full flex gap-2 items-center hover:shadow-lg w-full justify-center whitespace-nowrap">
        <i class="fas fa-play text-secondary fa-xs"></i>
        Watch a video
      </a>
    </div>
  </div>
</div>
<div id="landing_2" class="py-36 px-6 xl:px-16 grid gap-16">
  <div class="text-gray-800 text-center grid gap-4 xl:w-10/12 mx-auto">
    <h2 class="text-5xl font-lexend font-semibold">All your services monitored in a single place.</h2>
  </div>
  <img class="mx-auto rounded-md xl:rounded-3xl max-w-full" src="{% static 'dashboard.jpg' %}" alt="" />
</div>
<!-- prettier-ignore -->
{% include 'offline/services.html' %} {% include 'offline/pricing.html' %} {% include 'offline/faq.html' %} {% include 'offline/contact.html' %} {%endblock %}
