{% load static %}
<header>
  <div id="navbar">
    <div>
      <a id="logo" href="/">
        <img src="{% static 'logo.svg' %}" alt="" width="25" />
        <span> StatusChecks </span>
      </a>
      <a href="#pricing" class="">Pricing </a>
      <a href="#services">Services</a>
      <a href="#faq">FAQ</a>
    </div>
    <div>
      {% if user.is_authenticated %}
      <a href="/dashboard" class="main">Dashboard</a>
      {% else %}
      <a href="{% url 'website:login' %}">Sign in</a>
      <a href="{% url 'website:register' %}" class="main">Get started today</a>
      {% endif %}
    </div>
  </div>
  <div class="xl:hidden h-[76px]"></div>
  <div x-cloak x-data="{show_links_mobile:false}" class="xl:hidden top-0 left-0 fixed z-50 w-full bg-white">
    <div class="px-6 py-6 flex justify-between items-center">
      <a id="logo" href="/">
        <img src="{% static 'logo.svg' %}" alt="" width="25" />
        <span> StatusChecks </span>
      </a>
      <div @click="show_links_mobile=!show_links_mobile">
        <i :class="show_links_mobile ? 'fa-times' :'fa-bars'" class="fas fa-2xl text-secondary"></i>
      </div>
    </div>
    <div
      x-transition.duration.500ms
      x-show="show_links_mobile"
      :class="{'top-[76px]': fix_navbar, 'top-[100px]': !fix_navbar}"
      class="grid gap-12 px-8 py-6 shadow-lg"
    >
      <a href="#pricing">Pricing</a>
      {% if user.is_authenticated %}
      <a href="/dashboard" class="main">Dashboard</a>
      {% else %}
      <a href="{% url 'website:login' %}">Login</a>
      <a href="{% url 'website:register' %}" class="main"> Register </a>
      {% endif %}
    </div>
  </div>
</header>
