<div id="pricing" class="px-6 lg:px-16 py-36 bg_gredient">
  <div x-data="{sub_annually: false}" class="max-w-1400 mx-auto">
    <h2 class="text-center text-5xl text-gray-800 pt-8 xl:pt-0 lg:mb-16 font-semibold font-lexend">Simple pricing for everyone</h2>
    <div @click="sub_annually=!sub_annually" class="flex justify-center gap-4 mt-16 lg:mt-0 mx-auto mb-16" (click)="change_sub()">
      <span :class="!sub_annually? 'text-gray-700': 'text-gray-900 font-semibold'">Monthly</span>
      <div class="w-12 h-6 bg-gray-100 rounded-full relative xl:cursor-pointer">
        <div :class="!sub_annually? 'right-0': 'left-0'" class="h-full w-6 bg-secondary rounded-full absolute top-0"></div>
      </div>
      <span :class="sub_annually? 'text-gray-700': 'text-gray-900 font-semibold'">Annually</span>
    </div>
    <div
      x-data="{
        plans:[
        {
          name: 'free',
          price_monthly: 0,
          features: [
            { value: '5 monitors', included: true },
            { value: '5 minutes between checks', included: true },
            { value: '1 monitor page', included: true },
            { value: '1 alert email', included: true },
            { value: 'no extra seats', included: false },
          ],
          show_subscribe: false,
        },
        {
          name: 'pro',
          price_monthly: 6,
          price_annually: 5,
          features: [
            { value: '50 monitors', included: true },
            { value: '1 minute between checks', included: true },
            { value: '5 monitor pages', included: true },
            { value: '3 alert emails', included: true },
            { value: 'no extra seats', included: false },
          ],
          show_subscribe: true,
        },
        {
          name: 'business',
          price_monthly: 19,
          price_annually: 15,
          features: [
            { value: '100 monitors', included: true },
            { value: '30 seconds between checks', included: true },
            { value: '10 monitor pages', included: true },
            { value: '10 alert emails', included: true },
            { value: '3 extra seats', included: true },
          ],
          show_subscribe: true,
        },
      ]
      }"
      *ngFor="plan in plans"
      class="pricing_container"
    >
      <template x-for="plan in plans">
        <div class="!text-black">
          <h2 class="bg-secondary uppercase text-gray-100" x-text="plan.name"></h2>
          <h3>
            <span x-show="plan.price_monthly == 0" style="font-size: 35px"> FREE </span>
            <span x-show="plan.price_monthly == 0" class="per_month">FOREVER</span>
            <span x-show="plan.price_monthly != 0" class="inline-flex mx-auto">
              <span x-show="sub_annually" x-text="plan.price_monthly"></span>
              <span x-show="!sub_annually" x-text="plan.price_annually"></span>
              <span class="text-3xl text-gray-400">$</span>
            </span>
            <span x-show="plan.price_monthly != 0" class="per_month">Per Month</span>
          </h3>
          <ul>
            <template x-for="feature of plan.features">
              <li>
                <i class="fas fa-check text-green-500" x-show="feature.included"></i>
                <i class="fas fa-times text-red-500" x-show="!feature.included"></i>
                <span x-text="feature.value"></span>
              </li>
            </template>
          </ul>
          <div class="w-full h-10" *ngIf="!plan.show_subscribe"></div>
          <div>
            <a href="{% if user.is_authenticated %}/plans{% else %}/register{% endif %}"> Get Started </a>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
