{% extends 'offline/root.html' %} {% load static %} {% block content %}
<div style="min-height: calc(100vh - 104px)" class="grid place-content-center px-6">
  <h1 class="text-center text-4xl pt-8 xl:pt-0 xl:mb-10 font-semibold">Our Plans</h1>
  <div class="pricing_container" x-data="{annually_active:true}" x-cloak>
    <div>
      <h2 class="bg-green-500 text-gray-100">FREE</h2>
      <h3>
        <span>FREE</span>
        <span class="per_month">FOREVER</span>
      </h3>
      <div class="h-6"></div>
      <ul>
        <li><i class="fas fa-check text-green-500"></i> 5 Monitors</li>
        <li><i class="fas fa-check text-green-500"></i> 5 Minutes between checks</li>
        <li><i class="fas fa-times text-red-500"></i> No support</li>
      </ul>
      <a href="" class="bg-green-500 text-gray-100">Sign Up For Free</a>
    </div>
    <div>
      <h2 class="bg-secondary text-gray-100">PRO</h2>
      <h3>
        <span class="inline-flex mx-auto">
          <span x-show="annually_active">6</span>
          <span x-show="!annually_active">7</span>
          <span class="text-gray-500 text-3xl">$</span>
        </span>
        <span class="per_month">PER MONTH</span>
      </h3>
      <div class="flex justify-center gap-4">
        <span :class="annually_active ? 'text-gray-500': 'text-gray-800 font-semibold'">Monthly</span>
        <div @click="annually_active=!annually_active" class="w-[40px] h-6 bg-gray-300 rounded-full relative xl:cursor-pointer">
          <div :class="annually_active ? 'right-0':'left-0'" class="h-full w-6 bg-secondary rounded-full absolute top-0"></div>
        </div>
        <span :class="annually_active ? 'text-gray-800 font-semibold': 'text-gray-500'">Annually</span>
      </div>
      <ul>
        <li><i class="fas fa-check text-green-500"></i> 50 Monitors</li>
        <li><i class="fas fa-check text-green-500"></i> 1 Minute between checks</li>
        <li><i class="fas fa-check text-green-500"></i> Full support</li>
      </ul>
      <a href="" class="bg-secondary text-gray-100">Start now</a>
    </div>
  </div>
</div>
{%endblock %}
