{% extends 'offline/root.html' %} {% load static %} {% block content %}
<div class="pb-24">
  <form id="registration" onsubmit="register_or_login(event, this, register=true)" class="main_form sm:w-550">
    <h1 class="text-headline text-2xl font-semibold">Create a FREE Account</h1>
    <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken" />
    <input required type="text" placeholder="Username" name="username" />
    <input required type="email" placeholder="Email" name="email" />
    <input type="password" placeholder="Your password" name="password1" />
    <input type="password" placeholder="Confirm your password" name="password2" />
    <a href="{% url 'website:login' %}" class="w-content mx-auto hover:underline">I already have an account</a>
    <button type="submit" class="bg-secondary text-button rounded-md px-6 py-2 text-lg hover:bg-hover">Register</button>
  </form>
</div>
{%endblock %}
