{% load static %}
<div id="services" x-data="{slider_offset: 10}" class="max-w-1400 mx-auto pt-36 pb-52 grid gap-16 px-6 lg:px-16 2xl:px-0">
  <section class="text-center lg:w-9/12 mx-auto mb-16">
    <h2 class="text-4xl font-lexend mb-8">An easy way to monitor your services.</h2>
    <p class="text-gray-800 text-lg">Our service offers comprehensive monitoring for a wide range of systems and applications, including websites, API, servers, databases, and more.</p>
  </section>
  <section
    class="grid lg:flex justify-between gap-12"
    x-data="{
        features: [
            {
                offset: 10,
                active: true,
                name: 'Create monitor',
                title: 'Create a monitor for all your services.',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida sem elit, vitae suscipit leo dictum id. Cras sit amet lorem at metus lacinia pellentesque.'
            },
            {   
                offset: -75,
                active: false,
                name: 'Create page',
                title: 'Create a page and include one or all your monitors.',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida sem elit, vitae suscipit leo dictum id. Cras sit amet lorem at metus lacinia pellentesque.'
            },
            {
                offset: -158,
                active: false,
                name: 'Expose pages',
                title: 'Add the url of the page in your website to expose it to your customers.',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida sem elit, vitae suscipit leo dictum id. Cras sit amet lorem at metus lacinia pellentesque.'
            }
        ]
    }"
  >
    <template x-for="feature in features">
      <div
        :class="feature.active?'opacity-100':'opacity-80'"
        class="w-full grid gap-4 xl:cursor-pointer hover:opacity-100"
        @click="features.forEach(feature=>feature.active=false); feature.active=true; slider_offset=feature.offset"
      >
        <h3 :class="feature.active ? 'text-secondary font-semibold': 'text-gray-600'" class="text-lg" x-text="feature.name"></h3>
        <h4 :class="feature.active ? 'text-gray-900 ': 'text-gray-600'" class="text-lg font-medium" x-text="feature.title"></h4>
        <!-- <p :class="feature.active ? 'text-gray-700 ': 'text-gray-600'" x-text="feature.text"></p> -->
      </div>
    </template>
  </section>
  <section id="image_slider" class="relative h-[400px] lg:h-[900px] rounded-3xl overflow-auto lg:overflow-hidden">
    <div :style="{ left: `${slider_offset}%`}" class="absolute top-1/2 -translate-y-1/2 flex items-center gap-12 duration-500 ease-out">
      <div :class="slider_offset != 10 ? 'lg:opacity-25': 'opacity-100'" class="w-[350px] h-[250px] lg:w-[1000px] lg:h-[700px] duration-300">
        <img src="{% static 'picture_1.jpg' %}" class="rounded-3xl shadow-xl" alt="" />
      </div>
      <div :class="slider_offset != -75 ? 'lg:opacity-25': 'opacity-100'" class="w-[350px] h-[250px] lg:w-[1000px] lg:h-[700px] duration-300">
        <img src="{% static 'picture_2.jpg' %}" class="rounded-3xl shadow-xl" alt="" />
      </div>
      <div :class="slider_offset != -158 ? 'lg:opacity-25': 'opacity-100'" class="flex flex-col justify-center w-[350px] h-[250px] lg:w-[1000px] lg:h-[700px] duration-300">
        <img src="{% static 'picture_3.jpg' %}" class="rounded-3xl shadow-xl" alt="" />
      </div>
    </div>
  </section>
</div>
