@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading_animation {
  to {
    opacity: 10%;
  }
}

@keyframes loading_slide {
  to {
    left: 200%;
  }
}

/* utils class */
.hoverable {
  @apply cursor-pointer px-4 py-3 rounded-lg duration-500 hover:bg-gray-200 active:bg-gray-300;
}

.st0 {
  fill: #ff8906;
}

.content_title {
  @apply font-bold text-xl text-gray-800;
}

.text_overflow_ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.button {
  @apply bg-secondary  text-gray-50 px-5 pt-2 pb-2 rounded-sm capitalize hover:shadow-md active:bg-hover;
}
.toggle {
  @apply w-16 h-6 rounded-full relative cursor-pointer duration-500;
}

.toggle_on {
  @apply bg-secondary;
}

.toggle_off {
  @apply bg-gray-400;
}

.toggle > span {
  @apply absolute w-8 h-8 bg-white rounded-full border -top-1 duration-500;
}

.toggle_span_on {
  @apply right-0 border-primary;
}

.toggle_span_off {
  @apply left-0 border-gray-300;
}

/* global css */
body {
  @apply bg-primary;
}

#main_content {
  @apply flex flex-col h-full gap-2;
}

#main_content > div:last-child {
  @apply h-full  overflow-hidden pb-2;
}

.progress_bar {
  height: 8px;
  @apply relative w-full bg-green-200 border border-green-400;
}

.progress_bar > div {
  @apply absolute top-0 left-0 h-full w-full bg-gradient-to-r from-green-400 to-green-600;
}

.loading_animation {
  @apply relative overflow-hidden bg-gradient-to-l from-gray-200 to-gray-300;
  animation: loading_animation 1s infinite linear alternate;
}

.loading_animation > div {
  @apply h-3/4 w-4 bg-gray-100 absolute left-0 top-1/2 -translate-y-1/2;
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 1);
  animation: loading_slide 1.5s infinite alternate-reverse;
}

.creation_window {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-40;
}

.creation_window > div {
  @apply w-content flex flex-col absolute bg-white left-0 right-0 top-1/2 -translate-y-1/2 mx-auto h-content rounded-lg shadow-xl;
  max-height: 100%;
  max-width: 95%;
  /* width: 500px; */
  /* min-height: 400px; */
}

.creation_window > div > .creation_mode {
  @apply px-6 py-4  overflow-auto;
}

.checkbox {
  @apply relative w-4 h-4 border-2 rounded-sm duration-300;
}

.checkbox > i {
  @apply absolute top-1/2 -translate-y-1/2  left-0 right-0 mx-auto w-content lg:cursor-pointer duration-150;
}
