<div id="main_content">
  <app-header title_="pages" icon="fa-file-alt"></app-header>
  <div class="pages_toolbar px-12 py-4 dark:text-gray-100">
    <div class="main_popup_activator">
      <div class="flex items-center gap-2" (click)="show_creation_window()">
        <i class="fas fa-plus fa-sm text-green-500"></i>
        Create
      </div>
    </div>
    <div class="flex items-center gap-2" (click)="delete_user_page()">
      <i class="fas fa-trash fa-sm text-red-600"></i>
      Delete
    </div>
    <!-- <div *ngIf="one_page_selected" class="flex items-center gap-2">
      <i class="fas fa-pen fa-sm text-blue-600"></i>
      Edit
    </div> -->
  </div>
  <div class="flex flex-col overflow-hidden px-12 py-5">
    <div
      class="pages_grid header border-gray-100 dark:border-gray-700 text-gray-800 dark:text-gray-300"
    >
      <div
        *ngIf="pages.length > 0"
        (click)="select_all_pages()"
        class="checkbox"
        [ngClass]="{
          'bg-secondary border-secondary': all_pages_selected,
          'border-gray-100 dark:border-gray-400 bg-white': !all_pages_selected
        }"
      >
        <i
          class="fas fa-check fa-xs"
          [ngClass]="{
            'text-white': all_pages_selected,
            'text-transparent': !all_pages_selected
          }"
        ></i>
      </div>
      <div *ngIf="pages.length == 0"></div>
      <div>Title</div>
      <div>Total seen</div>
      <div>Monitors</div>
      <div>Link</div>
      <div></div>
    </div>
    <div class="h-full overflow-auto relative">
      <div *ngIf="!loading_pages">
        <div *ngIf="pages.length > 0">
          <div
            *ngFor="let page of pages; let i = index"
            class="pages_grid item border-gray-100 dark:border-gray-700 text-gray-800 dark:text-gray-100"
          >
            <div
              (click)="select_page(i)"
              class="checkbox"
              [ngClass]="{
                'bg-secondary border-secondary': page.selected,
                'border-gray-100 dark:border-gray-400 bg-white': !page.selected
              }"
            >
              <i
                class="fas fa-check fa-xs"
                [ngClass]="{
                  'text-white': page.selected,
                  'text-transparent': !page.selected
                }"
              ></i>
            </div>
            <div>{{ page.name }}</div>
            <div>{{ page.seen }}</div>
            <div>{{ page.monitors_nb }}</div>
            <a
              [href]="website_link + page.link"
              target="_blank"
              class="text-secondary cursor-pointer"
              >{{ website_link }}{{ page.link }}</a
            >
          </div>
        </div>
        <div
          *ngIf="pages.length == 0"
          class="absolute w-content mx-auto left-0 right-0 top-1/2 -translate-y-1/2 flex flex-col items-center gap-2"
        >
          <i class="fas fa-folder-times fa-xl"></i>
          <span>You have no page</span>
        </div>
      </div>
      <div *ngIf="loading_pages" class="h-full overflow-hidden py-4">
        <div
          *ngFor="let i of [].constructor(100)"
          class="h-6 loading_animation mb-4 rounded-full"
        >
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup>
  <form
    *ngIf="page_creations_modes['page']"
    #f="ngForm"
    (ngSubmit)="submit_page(f, 1)"
  >
    <h1 class="dark:text-gray-300 text-center">Select page</h1>
    <div *ngIf="pages_marketplace.length > 0" class="flex flex-col gap-2 mt-4">
      <div class="relative overflow-hidden">
        <img
          class="rounded-xl h-56 max-w-full"
          [src]="pages_marketplace[page_creation_active_index].picture"
          alt=""
        />
        <span
          *ngIf="pages_marketplace[page_creation_active_index].premium"
          class="absolute -right-9 top-4 bg-secondary px-8 pb-1 text-gray-100 rounded-lg rotate-45 text-sm font-medium"
        >
          Premium
        </span>
      </div>
      <div
        class="flex justify-between rounded-b-xl py-5 gap-8 px-4 lg:w-content mx-auto"
      >
        <button
          type="button"
          class="active:translate-y-px duration-200"
          (click)="change_active_page(1)"
        >
          <i class="fas fa-arrow-left text-gray-600"></i>
        </button>
        <span class="text-secondary">
          {{ pages_marketplace[page_creation_active_index].name }}
        </span>
        <button
          type="button"
          class="active:translate-y-px duration-200"
          (click)="change_active_page(0)"
        >
          <i class="fas fa-arrow-right text-gray-600"></i>
        </button>
        <input
          type="hidden"
          [ngModel]="pages_marketplace[page_creation_active_index].id"
          name="page_id"
        />
      </div>
    </div>
    <button type="submit" class="button w-full">Next</button>
  </form>
  <form
    *ngIf="page_creations_modes['monitors']"
    #f1="ngForm"
    (ngSubmit)="submit_page(f1, 2)"
    class="flex flex-col h-full justify-between"
  >
    <h1 class="dark:text-gray-300 text-center px-16">Associate monitors</h1>
    <div
      class="max-w-full max-h-52 my-8 overflow-y-auto grid gap-4 lg:gap-2"
      [ngClass]="{
        'lg:grid-cols-2': monitors.length > 2,
        'my-12': monitors.length == 1
      }"
    >
      <div
        *ngFor="let monitor of monitors; let i = index"
        (click)="select_monitor(i)"
        [title]="monitor.name"
        class="w-full flex items-center gap-4 lg:cursor-pointer px-4 py-2 rounded-md bg-white dark:bg-transparent text-gray-700 dark:text-gray-400 border border-gray-100 dark:border-gray-700"
      >
        <div
          class="checkbox"
          [ngClass]="{
            'bg-secondary border-secondary': monitor.selected,
            'border-gray-100 dark:border-gray-400 bg-white': !monitor.selected
          }"
        >
          <i
            class="fas fa-check fa-xs"
            [ngClass]="{
              'text-white': monitor.selected,
              'text-transparent': !monitor.selected
            }"
          ></i>
        </div>
        <div class="w-3/4 overflow-hidden text-ellipsis">
          {{ monitor.name }}
        </div>
      </div>
    </div>
    <span
      class="inline-block text-secondary xl:cursor-pointer mb-4 mx-auto"
      (click)="select_all_monitors()"
    >
      Select all
    </span>
    <div class="flex gap-2">
      <button
        type="button"
        (click)="submit_page(f1, 0)"
        class="w-full button !bg-gray-500 dark:!bg-gray-800"
      >
        Previous
      </button>
      <button type="submit" class="w-full button">Next</button>
    </div>
  </form>
  <form
    *ngIf="page_creations_modes['details']"
    #f2="ngForm"
    (ngSubmit)="submit_page(f2, 3)"
    id="monitor_creation_form"
    class="flex flex-col h-full justify-between text-center text-gray-700 dark:text-gray-200"
  >
    <h1>Add details</h1>
    <div class="property_box w-96 max-w-full mt-4">
      <label>
        Friendly name
        <i
          title="The verbose name that your customers see on the pages."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        [ngClass]="{
          'border-red-400': monitor_form_validation['name'],
          'dark:border-gray-700 focus:border-primary':
            !monitor_form_validation['name']
        }"
        type="text"
        placeholder="My Website"
        ngModel
        name="name"
        required
        class="bg-white dark:bg-transparent"
      />
    </div>
    <div class="property_box">
      <label>
        Title
        <i
          title="The http link of your application."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        [ngClass]="{
          'border-red-400': monitor_form_validation['title'],
          'dark:border-gray-700 focus:border-primary':
            !monitor_form_validation['title']
        }"
        type="text"
        placeholder="Status | My website"
        name="title"
        ngModel
        required
        class="bg-white dark:bg-transparent"
      />
    </div>
    <div class="property_box">
      <label>
        Main link
        <i
          title="The http link of your application."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        [ngClass]="{
          'border-red-400': monitor_form_validation['link'],
          'dark:border-gray-700 focus:border-primary':
            !monitor_form_validation['link']
        }"
        type="text"
        placeholder="https://website.com"
        name="link"
        ngModel
        required
        class="bg-white dark:bg-transparent"
      />
    </div>
    <div class="property_box">
      <label>
        Icon
        <i
          title="The http link of your application."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        type="file"
        placeholder="Status | My website"
        name="image"
        ngModel
        class="dark:border-gray-700 bg-white dark:bg-transparent"
        (input)="load_icon_file($event)"
      />
    </div>
    <div class="flex gap-2 mt-8">
      <button
        type="button"
        (click)="submit_page(f2, 1)"
        class="w-full button !bg-gray-500 dark:!bg-gray-800"
      >
        Previous
      </button>
      <button type="submit" class="w-full button">
        <i
          *ngIf="creation_in_progress"
          class="fa-solid fa-circle-notch fa-spin"
        ></i>
        <span *ngIf="!creation_in_progress">Create</span>
      </button>
    </div>
  </form>
</app-popup>

<!-- <div class="page_container">
  <div *ngFor="let page of pages">
    <div class="py-4 px-2 rounded-t-lg font-bold text-lg">
      {{ page.name }}
    </div>
    <div class="bg-white shadow-lg rounded-xl">
      <div class="relative overflow-hidden">
        <img
          class="rounded-t-xl w-full"
          src="../../../assets/page.png"
          alt=""
        />
        <span
          *ngIf="page.premium"
          class="absolute -right-9 top-4 bg-secondary px-8 pb-1 text-gray-100 rounded-lg rotate-45"
        >
          Premium
        </span>
      </div>
      <div class="flex justify-between rounded-b-xl py-5 px-4">
        <a href="" class="text-blue-500 hover:underline text-lg"> Preview </a>
        <span *ngIf="page.owned" class="flex items-center gap-2">
          Owend
          <i class="fas fa-check-circle text-green-600"></i>
        </span>
        <a
          *ngIf="!page.owned"
          class="flex items-center gap-2 cursor-pointer text-blue-500 hover:underline"
        >
          {{ page.price }}$
        </a>
      </div>
    </div>
  </div>
</div> -->
