<div id="main_content">
  <app-header title="pages" icon="fa-file-code"></app-header>
  <div
    class="pages p-8 bg-white rounded-2xl grid-cols-3 gap-4 overflow-auto 1600:grid-cols-4"
  >
    <div
      *ngFor="let page of pages"
      class="relative w-content shadow-md rounded-lg overflow-hidden flex flex-col"
    >
      <img class="h-96 w-96" src="../../../assets/page.png" alt="" />
      <div class="flex justify-between px-4 py-6 items-center">
        <a href="" class="text-blue-500 hover:underline">
          {{ page.name | titlecase }}
        </a>
        <button
          *ngIf="!page.selected"
          class="bg-secondary text-gray-50 px-4 py-1 rounded-sm hover:shadow-lg active:bg-hover"
        >
          Select
        </button>
        <span *ngIf="page.selected">
          Selected <i class="fas fa-check text-green-500"></i>
        </span>
      </div>
      <span
        *ngIf="page.premium"
        class="bg-secondary text-gray-100 font-semibold px-12 absolute top-6 -right-12 rotate-45"
      >
        Premium
      </span>
    </div>
  </div>
</div>
