.events_list {
  @apply mt-6 h-full overflow-y-auto overflow-auto;
}

.events_list div.monitor_element {
  @apply grid justify-between items-center pr-4;
}

.monitor_element > div:last-child {
  @apply text-right;
}

.monitor_grid {
  @apply py-2;
  grid-template-columns: 30% 30% 30% 10%;
}
.event_grid {
  @apply py-4 border-b border-gray-100;
  grid-template-columns: 20% 20% 20% 40%;
}

.event_grid > div {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.events_list div.monitor_element .monitor_status {
  @apply flex items-center gap-2;
}

.events_list div.monitor_element .monitor_status .status_dot {
  @apply w-8 h-2 rounded-full;
}

/* .events_list div.monitor_element .monitor_status > span:last-child {
  @apply w-12;
} */

/* .events_list div.monitor_element .event_code {
  @apply w-52 overflow-hidden text-ellipsis;
}

.events_list div.monitor_element .monitor_name {
  @apply w-36 overflow-hidden text-ellipsis;
} */

.events_list::-webkit-scrollbar {
  @apply hidden;
}

/* .statistics_content > div {
  @apply bg-white p-4 w-full text-center font-bold shadow-md rounded-xl;
} */

/* .statistics_content > div > div:last-child {
  @apply text-gray-500 mt-4;
} */

.monitor_events_select {
  @apply relative;
}

.monitor_events_select > div {
  @apply overflow-hidden bg-white cursor-pointer rounded-md;
  width: 200px;
}
.monitor_events_select > div:first-child {
  @apply py-2 px-4 hover:bg-gray-200 active:bg-gray-300;
}

.monitors_select {
  @apply mt-2 overflow-y-auto absolute top-8 flex flex-col gap-1 shadow-lg z-10;
  max-height: 300px;
}

.monitors_select > span {
  @apply py-2 px-4 rounded-md hover:bg-gray-200 active:bg-gray-300;
}

.monitor_events_select span {
  @apply overflow-hidden text-ellipsis;
}

.campaign_element_popup {
  @apply absolute flex flex-col bg-white shadow-lg top-0 text-sm font-normal rounded-md;
  left: -70px;
}

.campaign_element_popup > div {
  @apply px-4 py-1 cursor-pointer rounded-lg hover:bg-gray-200  active:bg-gray-300 grid items-center gap-2;
  grid-template-columns: 30% 80%;
}

#monitor_creation_form {
  @apply flex flex-col gap-5;
}

#monitor_creation_form .property_box {
  @apply flex flex-col gap-1;
}

#monitor_creation_form label {
  @apply text-gray-600 font-semibold text-sm w-content py-1 flex items-center gap-2;
}

#monitor_creation_form label i {
  @apply sm:cursor-pointer text-gray-500 hover:text-gray-900 mt-1;
}

#monitor_creation_form input,
#monitor_creation_form select {
  @apply border  rounded-md px-4 py-2 bg-white outline-none;
}
