<div id="main_content">
  <app-header></app-header>
  <div class="h-full flex gap-12 px-12 overflow-hidden">
    <div
      class="relative w-full h-full flex flex-col text-gray-700 dark:text-gray-400"
    >
      <div
        class="flex justify-between items-center border-b border-gray-100 dark:border-gray-700 py-4"
      >
        <div class="dark:text-gray-200">Monitors</div>
        <div class="main_popup_activator">
          <div
            (click)="show_creation_window()"
            class="main_popup_activator xl:cursor-pointer"
          >
            <i class="fas fa-plus text-green-400"></i>
          </div>
        </div>
      </div>
      <div *ngIf="loading_monitors" class="events_list">
        <div class="h-full overflow-hidden my-0">
          <div
            *ngFor="let i of [].constructor(100)"
            class="h-6 loading_animation mb-4 rounded-full"
          >
            <div></div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading_monitors" class="events_list">
        <div
          *ngIf="monitors.length == 0"
          class="w-content text-gray-500 absolute top-1/2 -translate-y-1/2 left-0 right-0 mx-auto"
        >
          No monitor yet.
        </div>
        <div *ngIf="monitors.length > 0">
          <div
            *ngFor="let monitor of monitors"
            class="monitor_element monitor_grid"
          >
            <div class="text_overflow_ellipsis dark:text-gray-200">
              {{ monitor.name }}
            </div>
            <div class="text-sm text_overflow_ellipsis">{{ monitor.link }}</div>
            <div
              *ngIf="monitor.running"
              class="flex items-center gap-2 text-sm font-light"
            >
              <span class="w-2 h-2 bg-green-400 rounded-full"></span>
              Running
            </div>
            <div
              *ngIf="!monitor.running"
              class="flex items-center gap-2 text-sm font-light"
            >
              <span class="w-2 h-2 bg-orange-400 rounded-full"></span>
              Paused
            </div>
            <div class="relative main_popup_activator">
              <i
                (click)="show_campaign_edit(monitor.id)"
                class="fas fa-ellipsis-h xl:cursor-pointer"
              >
              </i>
              <div
                @slideTopShort
                *ngIf="shown_popups['campaign_edit_element_' + monitor.id]"
                class="campaign_element_popup text-left border-gray-100 dark:border-gray-700"
              >
                <div
                  *ngIf="monitor.running"
                  (click)="pause_monitor(monitor.id)"
                >
                  <i class="fa-solid fa-circle-pause text-orange-400 fa-sm"></i>
                  Pause
                </div>
                <div
                  *ngIf="!monitor.running"
                  (click)="start_monitor(monitor.id)"
                >
                  <i class="fa-solid fa-circle-play text-green-500 fa-sm"></i>
                  Start
                </div>
                <div
                  class="main_popup_activator"
                  (click)="show_creation_window(true, monitor.id)"
                >
                  <i class="fa-solid fa-pen-to-square text-blue-500 fa-sm"></i>
                  Edit
                </div>
                <div (click)="delete_monitor(monitor.id)">
                  <i class="fa-solid fa-trash-can text-red-500 fa-sm"></i>
                  Delete
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative w-8/12 flex flex-col text-gray-700 dark:text-gray-200">
      <div
        class="flex justify-between items-center border-b border-gray-100 dark:border-gray-700 py-4"
      >
        <div class="dark:text-gray-200">Events</div>
        <!-- <div *ngIf="loading_events" class="w-12 h-12"></div> -->
        <div *ngIf="!loading_events">
          <span *ngIf="monitors.length == 0" class="block text-gray-700">
            You have no monitor
          </span>
          <div
            *ngIf="monitors.length > 0"
            class="monitor_events_select main_popup_activator"
          >
            <div
              (click)="show_hide_element('select_events')"
              class="flex justify-between"
            >
              <span>{{ selected_monitor }}</span>
              <span
                ><i
                  [ngClass]="{
                    'fa-chevron-down': !shown_popups['select_events'],
                    'fa-chevron-up': shown_popups['select_events']
                  }"
                  class="fas"
                ></i
              ></span>
            </div>
            <div
              @slideTopShort
              *ngIf="shown_popups['select_events']"
              class="monitors_select border-gray-100 dark:border-gray-700"
            >
              <span
                *ngFor="let monitor of monitors; let i = index"
                class="flex items-center gap-2"
                (click)="select_monitor(monitor.id)"
              >
                {{ monitor.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading_events" class="events_list">
        <div class="h-full overflow-hidden my-0">
          <div
            *ngFor="let i of [].constructor(100)"
            class="h-6 loading_animation mb-4 rounded-full"
          >
            <div></div>
          </div>
        </div>
      </div>
      <div *ngIf="!loading_events" class="events_list h-5/6">
        <div
          *ngIf="!monitor_selected"
          class="w-content text-gray-500 absolute top-1/2 -translate-y-1/2 left-0 right-0 mx-auto"
        >
          <span *ngIf="monitors.length > 0"
            >Select a monitor to see the events.</span
          >
          <span *ngIf="monitors.length == 0">You have no monitors yet.</span>
        </div>
        <div *ngIf="monitor_selected">
          <div
            *ngIf="events.length == 0"
            class="w-content text-gray-400 absolute top-1/2 -translate-y-1/2 left-0 right-0 mx-auto"
          >
            No events found for this monitor
          </div>
          <div *ngIf="events.length > 0">
            <div
              *ngFor="let event of events"
              class="monitor_element event_grid text-sm capitalize text-gray-700 dark:text-gray-400 border-gray-100 dark:border-gray-700"
            >
              <div class="monitor_status">
                <span
                  class="status_dot"
                  [ngClass]="{
                    'bg-green-400': event.is_success,
                    'bg-red-400': !event.is_success
                  }"
                ></span>
                <span class="text-gray-900 dark:text-gray-100">{{
                  event.status
                }}</span>
              </div>
              <div>{{ event.message }}</div>
              <div>
                {{ event.time.toString().split(".")[0] }}
                <span class="lowercase">ms</span>
              </div>
              <div>{{ event.created_time }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-popup>
  <form
    *ngIf="user_details"
    id="monitor_creation_form"
    #f="ngForm"
    (ngSubmit)="submit_monitor(f)"
    class="dark:text-gray-100 text-gray-900 text-center"
  >
    <h1 class="text-lg font-medium">Create Monitor</h1>
    <div class="property_box">
      <label>
        Name
        <i
          title="The verbose name that your customers see on the pages."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        [ngClass]="{
          'border-red-400': monitor_form_validation['name'],
          'dark:border-gray-700 focus:border-primary':
            !monitor_form_validation['name']
        }"
        class="bg-white dark:bg-transparent"
        type="text"
        placeholder="My Website"
        [ngModel]="monitor_creation_defaults.name"
        name="name"
        required
      />
    </div>
    <div class="property_box">
      <label>
        Link
        <i
          title="The http link of your application."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <input
        [ngClass]="{
          'border-red-400': monitor_form_validation['link'],
          'dark:border-gray-700 focus:border-primary':
            !monitor_form_validation['link']
        }"
        class="bg-white dark:bg-transparent"
        type="text"
        placeholder="https://mywebsite.com"
        name="link"
        [ngModel]="monitor_creation_defaults.link"
        required
      />
    </div>
    <!-- <div class="property_box">
      <label>
        Type
        <i
          title="The type of monitoring you want for this monitor."
          class="fa-solid fa-circle-exclamation fa-sm"
        ></i>
      </label>
      <select
        [ngClass]="{
          'border-red-400': monitor_form_validation['type'],
          'border-gray-100 focus:border-primary':
            !monitor_form_validation['type']
        }"
        name="type"
        ngModel
        required
      >
        <option value="">Monitor type</option>
        <option value="http">http</option>
      </select>
    </div> -->

    <div class="grid grid-cols-3 gap-2">
      <div class="property_box">
        <label>
          Check interval
          <i
            title="The interval between checks."
            class="fa-solid fa-circle-exclamation fa-sm"
          ></i>
        </label>
        <input
          type="number"
          placeholder="60"
          class="dark:border-gray-700 bg-white dark:bg-transparent"
          name="interval"
          [ngModel]="monitor_creation_defaults.interval"
          [min]="user_details.min_interval"
        />
      </div>
      <div class="property_box">
        <label>
          Success Status
          <i
            title="If not set 200 will be used."
            class="fa-solid fa-circle-exclamation fa-sm"
          ></i>
        </label>
        <input
          type="number"
          placeholder="200"
          class="dark:border-gray-700 bg-white dark:bg-transparent"
          name="success_status"
          [ngModel]="monitor_creation_defaults.success"
          min="0"
        />
      </div>
      <div class="property_box">
        <label>
          Timeout
          <i
            title="The timeout when requesting your website."
            class="fa-solid fa-circle-exclamation fa-sm"
          ></i>
        </label>
        <input
          type="number"
          placeholder="30"
          name="timeout"
          class="dark:border-gray-700 bg-white dark:bg-transparent"
          [ngModel]="monitor_creation_defaults.timeout"
          min="5"
        />
      </div>
      <div class="property_box col-span-3">
        <label for="">
          Alert Emails
          <i
            title="Emails to alert when failure. Write emails separated by a space. If not set only your account email will be notified."
            class="fa-solid fa-circle-exclamation fa-sm"
          ></i>
        </label>
        <div
          class="w-full h-32 p-2 bg-white dark:bg-transparent rounded-md flex flex-col items-center gap-2 overflow-auto border dark:border-gray-700"
        >
          <span
            *ngFor="let email of alert_emails"
            class="mx-auto h-content w-full bg-gray-100 dark:bg-gray-900 flex items-center gap-2 justify-between px-4 rounded-full"
          >
            <span
              class="text-gray-700 dark:text-gray-100 text-sm font-medium pl-2"
            >
              {{ email }}
            </span>
            <span class="xl:cursor-pointer" (click)="remove_alert_email(email)">
              <i class="fas fa-times text-red-500"> </i>
            </span>
          </span>
        </div>
        <input
          type="text"
          name="alert_emails"
          class="dark:border-gray-700 w-full bg-white dark:bg-transparent"
          (keyup)="alert_email_input($event)"
          placeholder="example@youremail.com"
        />
      </div>
    </div>
    <button type="submit" class="button mt-4 font-semibold rounded-md">
      <i
        *ngIf="creation_in_progress"
        class="fa-solid fa-circle-notch fa-spin"
      ></i>
      <span *ngIf="!creation_in_progress">{{ create_word }}</span>
    </button>
  </form>
</app-popup>
